<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Result</title>
    <style>
       .button{
        border-style: none;
       }
       .filter-tables{
        display: none;
        
        margin: auto;
        }
    </style>
</head>
<body>
    <h1>Student Result</h1>
    <table border ="1" cellpadding="5">
        <tr>
            <td><input type="number" id="studentId" name="studentId" placeholder="Enter Id of student"><br></td>
            <td>
                <input type = 'button' style='width:100%; height:100%;' onclick="redirectToReport()" value='Filter'/>
            </td>
        </tr>
    </table>
    <p style = "text-decoration: underline;" onclick="toggleFilters()">Show more Filters...</p>
    <form action="/filtering_and" method="post">
        <div class="filter-tables">
            <table border ="1" cellpadding="5">
                <tr>
                    <td><input type="text" id="fname" name="fname" placeholder="By Student Name"><br></td>
                </tr>
            </table>
            <table border ="1" cellpadding="5">
                <tr>
                    <td><input type="number" id="prilim" name="prilim" placeholder="By Prilim Marks"><br></td>
                </tr>
            </table>
            <table border ="1" cellpadding="5">
                <tr>
                    <td><input type="number" id="terminal" name="terminal" placeholder="By Terminal Marks"><br></td> 
                </tr>
               
            </table>
            <table border ="1" cellpadding="5">
                <tr>
                    <td><input type="number" id="final" name="final" placeholder="By Final Marks"><br></td>
                </tr>
            </table>
            <table border ="1" cellpadding="5">
                <tr>
                    <td><input type="number" id="total" name="total" placeholder="By Total Marks"><br></td>
                </tr>
            </table>
            <table border ="1" cellpadding="5">
                <tr>
                    <td><input type="number" id="percentage" name="percentage" placeholder="By Percentage of Student"><br></td>
                </tr>
            </table>
            <table border ="1" cellpadding="5">
                <tr>
                    <td><input type="text" id="and_or" name="and_or" placeholder="AND or OR"><br></td>
                    <td><input type="radio" id="radio1" name="radio1" value="AND"></td>
                    <td><input type="radio" id="radio2" name="radio2" value="OR"></td>
                </tr>
            </table>
            <td>
                <input type = 'submit' style='width:100px; height:30px; margin-top: 10px;'  value='Filter'/>
            </td>
        </div>
    </form>
    
    
    <br>
    <table border ="1" cellpadding="5">
        <tr>
            <th rowspan="2">
                Student Name
            </th>
            <th colspan = "2">
                Prelim
            </th>
            <th colspan = "2">
                Terminal
            </th>
            <th colspan = "2">
                Final
            </th>
            <th rowspan="2">
                Total (out of 1200)
            </th>
            <th rowspan="2">
                Result in percentage
            </th>
            <th rowspan="2">
                Click to View Report Card
            </th>
        </tr>
        <tr>
            <td>
                Practical Total
            </td>
            <td>
                Theory Total
            </td>
            <td>
                Practical Total
            </td>
            <td>
                Theory Total
            </td>
            <td>
                Practical Total
            </td>
            <td>
                Theory Total
            </td>
        </tr>
        <%result.forEach((result)=>{ %>
            <tr>
                <td>
                    <%=result.first_name %>
                </td>
                <td>
                    <%=result.total_prelim_practical_marks %>
                </td>
                <td>
                    <%=result.total_prelim_theory_marks %>
                </td>
                <td>
                    <%=result.total_terminal_practical_marks %>
                </td>
                <td>
                    <%=result.total_terminal_theory_marks %>
                </td>
                <td>
                    <%=result.total_final_practical_marks %>
                </td>
                <td>
                    <%=result.total_final_theory_marks %>
                </td>
                <td>
                    <%=result.total %>
                </td>
                <td>
                    <%= parseFloat(((result.total)/1200)*100).toFixed(1) %>
                </td>
                <td>
                    <a href="/report/<%=result.student_id%>" target="_blank" >View Report</a>
                </td>
            </tr>
       <% }) %>
    </table>
    <br>
    <% if (currentPage > 1) { %>
        <a href ="?page=1"><<</a> 
        <a href="?page=<%=currentPage - 1%>" ><</a>
        <% } %>
        <% if(nextPage){%>
        <a href="?page=<%=currentPage + 1%>">></a>
        <a href ="?page=20">>></a> 
        <% } %>
</body>
<script>
    function redirectToReport(){
        var userInput = document.getElementById('studentId').value;
        if(userInput !== ""){
            window.location.href = "/report/" + userInput;
        }else{
            alert("Please Enter Id ");
        }
    }
    function toggleFilters(){
        var filterTables = document.querySelector('.filter-tables');
        filterTables.style.display = filterTables.style.display === 'none' ? 'block' : 'none'
    }
</script>
</html>