<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Result</title>
</head>
<body>
    <h1>Student Result</h1>
    <table border ="1" cellpadding="5">
        <tr>
            <th rowspan="2">
                Subject
            </th>
            <th colspan = "2">
                Prelim
            </th>
            <th colspan = "2">
                Terminal
            </th>
            <th colspan = "2">
                Final
            </th>
            <th rowspan="2">
                Total (out of 1200)
            </th>
        </tr>
        <tr>
            <td>
                Practical 
            </td>
            <td>
                Theory 
            </td>
            <td>
                Practical 
            </td>
            <td>
                Theory 
            </td>
            <td>
                Practical 
            <td>
                Theory 
            </td>
        </tr>


       <% let finalTotal = 0 %>
       <% for(let ind = 0;ind < data.length - 3;ind = ind+3){
        let prelim_prac_m = 0;
        let prelim_theo_m = 0;
        let terminal_prac_m = 0;
        let terminal_theo_m = 0;
        let final_prac_m = 0;
        let final_theo_m = 0;
        let total = 0;
        let subjectName = data[ind].subject_name;

        final_prac_m = data[ind].obtained_practical_marks;
        final_theo_m = data[ind].obtained_theory_marks;

        prelim_prac_m = data[ind+1].obtained_practical_marks;
        prelim_theo_m = data[ind+1].obtained_theory_marks;

        terminal_prac_m = data[ind+2].obtained_practical_marks;
        terminal_theo_m = data[ind+2].obtained_theory_marks;

        total = prelim_prac_m + prelim_theo_m + terminal_prac_m + terminal_theo_m + final_prac_m + final_theo_m;
        
        finalTotal +=total;
        %>
        <tr>
            <td>
                <%= subjectName %>
            </td>
            <td>
                <%= prelim_prac_m %>
            </td>
            <td>
                <%= prelim_theo_m %>
            </td>
            <td>
                <%= terminal_prac_m %>
            </td>
            <td>
                <%= terminal_theo_m %>
            </td>
            <td>
                <%=final_prac_m %>
            </td>
            <td>
                <%= final_theo_m %>
            </td>
            <td>
                <%= total %>
            </td>
        </tr>
      <% } %>
    </table>
</body>
</html>